<a href="https://colab.research.google.com/github/A01302935/David-Mireles-Samaniego/blob/main/Modulo_04_David_Mireles_Samaniego_A01302935.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Modulo 4')

Modulo 4

In [ ]:
#Consider the dataframe df. How would you find the element in the second row and first column?
#df.ix[1,0] or df.iloc[1,0]

In [2]:
#Will the following code run?

import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()
# Yes it runs

    a   b
0  11  21
1  21  22
2  31  23

In [4]:
#Consider the dataframe: df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

#What type does the following return: df['a']==1 ?

#Ans = Bool

In [6]:
#What task does the following method perform: df.to_csv("file.csv")?

In [ ]:
#What task does the following method perform: df.to_csv("file.csv")?
# Ans Save dataframe to a cvs file

In [10]:
#QUESTION 1
#What do the following lines of code do?

#with open("Example1.txt","r") as file1:
#FileContent=file1.readlines()
#print(FileContent)

#Ans = Read the file "Example1.txt".

In [ ]:
#QUESTIO 2
#What do the following lines of code do?

#with open("Example2.txt","w") as writefile:
#writefile.write("This is line A\n")
#writefile.write("This is line B\n")

#Ans = Whrite to the file 'Example2.txt'

In [ ]:
#QUESTION 3

#What do the following lines of code do?
#with open("Example3.txt","a") as file1:
#file1.write("This is line C\n")

#Ans = Append the file  'Example3.txt'

In [ ]:
#QUESTION 4
#What is the result of applying the following method df.head() to the dataframe "df"?

#Ans = Print the first 5 rows of the dataframe